.login-form {
  position: fixed;
  top: 250px;    
  right: 60px;  
  width: 500px;
  padding: 50px;
  border-radius: 70px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #759e3b;
  font-size: 30px;

  h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 15px;
  }

  label {
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }

  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); // Slight transparency
    transition: background-color 0.3s ease;

    &:focus {
      background-color: #fff;
      outline: none;
    }
  }

  .form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff; // Bright color for the button
    color: #759e3b;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f2f2f2; // Slightly darker on hover
    }
  }

  .switch-form-button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: white;
      color: #759e3b; // Using the gradient color
    }
  }
}
