@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7; 


  .content {
    border-radius: 25px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; // ensures z-index applies, already set in inline styles
    z-index: 1;
    animation: float 4s infinite ease-in-out;
    // Add the background image here
    background-image: url('../../public/SignUp.jpg');
    background-size: auto 80%; 
    padding: 20%; 
    border-radius: 25px;
    background-position: 10% center;  
    background-repeat: no-repeat; 
  
    box-shadow: inset 0px -3px 85px rgb(48, 124, 37); 
  }
}
