

h1 {
  color: rgb(0, 0, 0);

}

.hint-text {
  margin-top: 20px;
}

.btn-card-text {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}
.dish-icon {
  font-size: 50px;
  animation: spin 5s linear infinite;
}

.arrow {
  width: 50px;
  height: auto; 
  animation: bounce 2s ease-in-out infinite;
  position:relative;
  top: 270%;
  right: 250%;
  

}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animate {
    animation: roulette-spin 6s ease-out forwards;
    transform-origin: center;
  }
}

@keyframes roulette-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(3600deg);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 10px;



}

@keyframes stir {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(10deg) translateX(-2px);
  }
  50% {
    transform: rotate(0deg) translateX(0);
  }
  75% {
    transform: rotate(-10deg) translateX(2px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

.cooking-pot .spoon, .cooking-pot .spoon-end {
  transform-origin: 30px 26px;
  animation: stir 2s infinite;
}


.btn-card p {
  margin-left: 20px;
}


.btn-card {
  margin-top: 200px;
  display: flex;
  position: absolute; 
  bottom: 49%; 
  left: 57%;
  width: 500px;
  font-size: 10px;  
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  height: 2px;
  flex-direction: column;
  font-size: 20px; 
}

.spinBlurb {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 400px;
  width: 600px;
  margin-top: 200px;



}




.bttn {
  position: relative;
  top: 55%;
  right: 20%;
  background: black;  
  border: solid 5px #97c754;
  border-radius: 30px;
  color: white; 
  font-weight: bold;
  font-size: 5em;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease;
  margin-bottom: 450px;

}

.bttn:hover {
  transform: scale(1.07); 
}



.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%; 
  margin-top: 3em;
  

  
}


.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%; 
 

}



.inputSize {
  position: relative;
  bottom: 7%;
  left: 1%;
  width: 650px;
  height: 70px;
  border-radius: 40px;
  border: 2px solid white;
  padding: 0 25px;
  font-size: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}




.rouletteImg {
  width: 40%;
  position: relative;
  bottom: 7%;
  
}