body {
  background-color: rgb(255, 247, 224);
}

h1 {
  color: rgb(0, 0, 0);

}

.btn-card-text {
  color: #759e3b;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .animate {
    animation: roulette-spin 6s ease-out forwards;
    transform-origin: center;
  }
}

@keyframes roulette-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(3600deg);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* max-width: 1024px; */
  flex-direction: row;
  width: 100%;
  gap: 100px;

}

.btn-card {
  width: fit-content;  /* this makes sure the div only takes up as much space as it needs */
  padding: 10px; /* space around the button */
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-flex; /* keeps it inline with other elements and still lets you use flex properties */
  align-items: center;
  justify-content: end;
  height: 300px;
  flex-direction: column;
  margin-bottom: 80px;
}

.spinBlurb {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 400px;
  width: 600px;
  margin-top: 400px;


}


.bttn {
  background: #759e3b;  /* Button background color */
  border: none;
  border-radius: 30px;
  color: #ffffff;  /* Text color */
  font-weight: bold;
  font-size: 4em;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: transform 0.2s ease;
  position: relative;

  /* Smooth transition for the hover effect */
}

.bttn:hover {
  transform: scale(1.07); /* Make the button slightly larger when hovered */
}



.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%; 
  margin-top: 3em;

  
}


.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%; 

}



.inputSize {
  width: 500px;
  height: 70px;
  border-radius: 40px;
  border: 7px solid #759e3b;
  padding: 0 20px;
}




.rouletteImg {
  width: 40%;
}