.top-recipes-title {
  height: 6em;
  position: relative;
  left: 35.5%;
 margin-top: 30px;

  
  margin-bottom: 4em;
 
  
}

.top-recipes-grid {
 justify-content: center;
  display: flex;
  flex-wrap: wrap; /* Or 'flex-start' if you don't want space between them */
  gap: 80px; /* Adjust the gap as needed */
}



.top-recipes {
margin-top: 100px;
}