.App {
  height: 100vh;
  background-color: transparent;
  overflow-x: none;
  left: 0;
}

body {
  background-image: url("/public/BackDrop.png");
  background-repeat: repeat;
  background-size: contain;
  margin: 0;
}
